* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

.container {
    height: 100vh;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url('./fonts/Norse-Bold.otf')
}

.banner-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-image: url("./images/kal-visuals-aK4iPNYipnU-unsplash.jpg");
    background-position: 55%;
}

.banner-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: rgba(20, 20, 20, 0.3);
    width: 100%;
}



.banner-inner > img {
    height: 4rem;
}

.banner-inner > div {
    font-size: 2rem;
    color: white;
    /* font-family: 'Norse-Bold'; */
}

.content {
    /* width: 90%; */
    /* margin: 20px auto;
    text-align: center; */
}

.intro {
    background-color: rgb(246, 246, 246);
    line-height: 1.5;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 700;
}

.intro p:nth-child(3) {
    margin-top: 20px;
    text-align: center;

}

.form {
    margin-top: 50px;
}

.form > p {
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;

}

input {
    width: 300px;
    padding: 7px;
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

.form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

button {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #5995DA;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
}



/* @media only screen and (min-width: 700px){
    .container {
        display: flex;

    }
    .banner-outer {
        height: auto;
        width: 40%;
    }

    .form-element {
        display: flex;
        flex-wrap: wrap;
    }
    input {
        width: 250px;
        height: initial;
    }
    label {
        text-align: right;
        width: 200px;
        margin-top: 7px;
        padding-right: 20px;   
    }
    button {
        margin-left: 200px;
    }
} */
