* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* text-transform: capitalize; */
}

@font-face {
    font-family: 'Norse-Bold';
    src: url('./fonts/Norse-Bold.otf')
}

.container {
    /* height: 100vh; */
}

.banner-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-image: url("./images/kal-visuals-aK4iPNYipnU-unsplash.jpg");
    background-position: 55%;
}

.banner-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: rgba(20, 20, 20, 0.3);
    width: 100%;
}



.banner-inner > img {
    height: 4rem;
}

.banner-inner > div {
    font-size: 3rem;
    color: white;
    font-family: 'Norse-Bold';
}

.content {
    /* width: 90%; */
    /* margin: 20px auto;
    text-align: center; */
    background-color: rgb(246, 246, 246);
    /* background-color: pink; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro {
    /* background-color: rgb(246, 246, 246); */
    line-height: 1.5;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 700;
}

.intro p:nth-child(3) {
    margin-top: 20px;
    text-align: center;

}

.form {
    margin-top: 30px;
    padding-top: 20px;
    background-color: white;
    
}



.form > p {
    font-size: 1.5rem;
    font-weight: 100;
    /* text-align: center; */
    padding-left: 30px;

}

label {
    display: block;
    font-size: 0.8  rem;
}

input {
    display: block;
    width: 200px;
    /* padding: 7px; */
    /* font-family: customFontBold; */
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    font-size: .9rem;
    margin-top: 3px;
}

input::placeholder {
    opacity: 0.4;
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    gap: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-bottom: 40px;
    box-shadow: 0px 5px 10px rgb(206, 206, 206);
}

.form-row {
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    margin-top: 15px;
}

div.button {
    padding-top: 30px;
    
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

button {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #5995DA;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
}

.button {
    background-color: rgb(246, 246, 246);
    /* background-color: pink; */
}

.button > p {
    margin-bottom: 30px;
}

input:focus{
    box-shadow: 0px 5px 5px rgb(180, 180, 180);
}

/* input:valid {
    border-color: green;
    background-color: rgba(120, 245, 120, 0.472);
} */

.error {
    font-family: customFontBold;
    font-size: .7rem;
    color: rgb(255, 69, 100);
    position: absolute;
  } 

.input-error {
    border-color: red;
    background-color: rgb(255, 177, 177);
}

.input-success {
    border-color: green;
    background-color: rgb(154, 255, 154);
}

  /* input:invalid {
    background-color: red;
  } */


@media only screen and (min-width: 800px){
    .container {
        
        display: flex;  
        justify-content: center;
        width:100vw;      
    }

    .banner-outer {
        height: 100vh;
        flex: 2;
        background-size: cover;
        /* background-repeat: no-repeat; */
    }

    .content {
        height: 100vh;
        flex: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

